header {
    padding-top: 50px;
    padding-bottom: 50px;
}

#annotation {
    padding-top: 50px;
    padding-bottom: 50px;
}

#cast {
    padding-top: 50px;
    padding-bottom: 50px;
}

#genre {
    padding-top: 50px;
    padding-bottom: 50px;
}